{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="{% static 'alpha/semantic/semantic.min.css' %}">
  <link rel="stylesheet" href="{% static 'alpha/css/index.css' %}">

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="{% static 'alpha/js/index.js' %}"></script>
  <script src="{% static 'alpha/semantic/semantic.min.js' %}"></script>
</head>
<body>
  <div id="head-section">
    <div class="ui navbar fixed menu">
      <div class="header item">
        YouAsk
      </div>
      <a class="item">
        홈으로
      </a>
      <a class="item">
        두번째 메뉴
      </a>
      <a class="right item">
        <div class="ui primary button" id="login-btn">로그인</div>
      </a>
    </div>
  </div>
  <div id="content-section">

    <div class="ui four column centered grid">
      <div class="column">
        <div class="ui card">
          <div class="image">
            <img src="{% static 'alpha/img/bill.jpg' %}">
          </div>
          <div class="content">
            <a class="header">Bill Gates</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui card">
          <div class="image">
            <img src="{% static 'alpha/img/bill.jpg' %}">
          </div>
          <div class="content">
            <a class="header">Bill Gates</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <div class="image">
            <img src="{% static 'alpha/img/bill.jpg' %}">
          </div>
          <div class="content">
            <a class="header">Bill Gates</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui card">
          <div class="image">
            <img src="{% static 'alpha/img/mark.jpg' %}">
          </div>
          <div class="content">
            <a class="header">Mark Zuckerberg</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>
      

      <div class="column">
        <div class="ui card">
          <div class="image">
            <img src="{% static 'alpha/img/bill.jpg' %}">
          </div>
          <div class="content">
            <a class="header">Bill Gates</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui card">
          <div class="image">
            <img src="{% static 'alpha/img/mark.jpg' %}">
          </div>
          <div class="content">
            <a class="header">Mark Zuckerberg</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <div class="image">
            <img src="{% static 'alpha/img/bill.jpg' %}">
          </div>
          <div class="content">
            <a class="header">Bill Gates</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <div class="image">
            <img src="{% static 'alpha/img/bill.jpg' %}">
          </div>
          <div class="content">
            <a class="header">Bill Gates</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              안녕하세요, 빌 게이츠입니다.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>


  <div class="ui mini modal" id="login-modal">
    <i class="close icon"></i>
    <div class="header">
      로그인하기
    </div>
    <div class="small content">
      <!-- <div class="ui medium image">
        <i class="sign in icon"></i>
      </div> -->
      <div class="description">
        <div class="ui header">로그인하여 더욱 편리하게 이용하세요.</div>
        <div class="ui form">
          <div class="field">
            <label>이메일 주소</label>
            <input type="text" name="email" placeholder="hoon@youask.com">
          </div>
          <div class="field">
            <label>비밀번호</label>
            <input type="password" name="password" placeholder="********">
          </div>
        </div>

      </div>
    </div>
    <div class="actions">
      <div class="ui button"><h5 class="ui blue header" style="font-weight:normal;margin:0;padding:0;">계정이 없으신가요?</h5>
      </div>
      <div class="ui primary right labeled icon button">
        로그인하기
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</body>
</html>